<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
    </head>
    <body>
        <div th:insert="~{fragment :: locale}"></div>
        <form th:action="@{/users/create}" method="post" th:object="${user}">
            <label for="firstname"><span th:text="#{registration.firstname}">Firstname:</span>
                <input id="firstname" type="text" name="firstname" th:value="*{firstname}">
            </label><br>
            <label for="lastname"><span th:text="#{registration.lastname}">Lastname:</span>
                <input id="lastname" type="text" name="lastname" th:value="*{lastname}">
            </label><br>
            <label for="email"><span th:text="#{registration.email}">Email:</span>
                <input id="email" type="email" name="email" th:value="*{email}">
            </label><br>
            <label for="rawPassword"><span th:text="#{registration.password}">Password:</span>
                <input id="rawPassword" type="password" name="rawPassword">
            </label><br>
            <button type="submit" th:text="#{registration.button}">Register</button>
        </form>
        <div th:if="${errors}">
            <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
        </div>
    </body>
</html>
